commons/commons-webservice-rpc-ged/src/test/resources/gedimageserveur.php.xml

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Robert Legrand (GFI Informatique) -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://GedImage.cirtil.cer69.recouv/GedImage.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://GedImage.cirtil.cer69.recouv/GedImage.xsd1" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns2="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://GedImage.cirtil.cer69.recouv/GedImage.wsdl" name="GedImage">
	<wsdl:types>
		<xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd1="http://GedImage.cirtil.cer69.recouv/GedImage.xsd1" targetNamespace="http://GedImage.cirtil.cer69.recouv/GedImage.xsd1">
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<xsd:complexType name="ListeIndexValeur">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" minOccurs="1" name="indexvaleur" type="xsd1:IndexValeur"/>
						</xsd:sequence>
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd1:IndexValeur[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfString">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:sequence>
                     <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string"/>
                  </xsd:sequence>
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>                     
               </xsd:restriction>
            </xsd:complexContent>    
            </xsd:complexType>     
			<xsd:complexType name="IndexValeur">
				<xsd:annotation>
					<xsd:documentation>Element contenant un index et sa valeur</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="nom" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="valeur" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AuthInfo">
				<xsd:annotation>
					<xsd:documentation>Infos d'autentification</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="login" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="password" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="appli" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="codeOrga" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="FichierWS">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="nom" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="checksum" type="xsd:string"/>
					<xsd:element minOccurs="1" maxOccurs="1" name="contenu" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfTypeZoneWS">
				<xsd:complexContent>
					<xsd:restriction base="SOAP-ENC:Array">
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="typezonews" type="xsd1:TypeZoneWS"/>
						</xsd:sequence>
						<xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd1:TypeZoneWS[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfCategorieTypeZoneWS">
            <xsd:complexContent>
               <xsd:restriction base="SOAP-ENC:Array">
                  <xsd:sequence>
                     <xsd:element maxOccurs="unbounded" minOccurs="0" name="typezonews" type="xsd1:CategorieTypeZoneWS"/>
                  </xsd:sequence>
                  <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd1:CategorieTypeZoneWS[]"/>
               </xsd:restriction>
            </xsd:complexContent>
         </xsd:complexType>
			<xsd:complexType name="TypeZoneWS">
				<xsd:annotation>
					<xsd:documentation>Element contenant la description d'un type zone</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="obligatoire" type="xsd:boolean"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="tailleMax" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="format" type="xsd1:Format"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CategorieTypeZoneWS">
            <xsd:annotation>
               <xsd:documentation>Element contenant la description d'un type zone ainsi que l'indice de sa catégorie</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" name="indice" type="xsd:int"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="obligatoire" type="xsd:boolean"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="tailleMax" type="xsd:int"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="format" type="xsd1:Format"/>
            </xsd:sequence>
         </xsd:complexType>
			<xsd:simpleType name="Format">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ALPHA"/>
					<xsd:enumeration value="NUMERIQUE"/>
					<xsd:enumeration value="ALPHANUM"/>
					<xsd:enumeration value="DATE"/>
					<xsd:enumeration value="TEXTE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="generiqueResponse">
		<wsdl:part name="retour" type="xsd:boolean">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retour générique des webservices</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateIndexDocumentGEDRequest">
		<wsdl:part name="login" type="xsd1:AuthInfo">
			<wsdl:documentation>Infos d'autentification</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="base" type="xsd:string">
			<wsdl:documentation>Base contenant le document</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="idDocument" type="xsd:string">
			<wsdl:documentation>Identifiant GED du document</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="listeIndexValeur" type="xsd1:ListeIndexValeur">
			<wsdl:documentation>Liste des valeurs d'index à changer</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="moveDocumentGEDRequest">
		<wsdl:part name="login" type="xsd1:AuthInfo">
			<wsdl:documentation>Infos d'autentification</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="baseOrig" type="xsd:string">
			<wsdl:documentation>Base contenant le document</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="idDocument" type="xsd:string">
			<wsdl:documentation>Identifiant GED du document</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="baseDest" type="xsd:string">
			<wsdl:documentation>Base de destination</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="listeIndexValeur" type="xsd1:ListeIndexValeur">
			<wsdl:documentation>En option, liste des valeurs d'index à ajouter</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="moveDocumentGEDResponse">
		<wsdl:part name="idDocumentRetour" type="xsd:string">
			<wsdl:documentation>Identifiant GED du document dans la base d'arrivée</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteDocumentGEDRequest">
      <wsdl:part name="login" type="xsd1:AuthInfo">
         <wsdl:documentation>Infos d'autentification</wsdl:documentation>
      </wsdl:part>
      <wsdl:part name="base" type="xsd:string">
         <wsdl:documentation>Base contenant le document</wsdl:documentation>
      </wsdl:part>
      <wsdl:part name="idDocument" type="xsd:string">
         <wsdl:documentation>Identifiant GED du document</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="deleteDocumentGEDResponse">
      <wsdl:part name="retour" type="xsd:boolean">
         <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">True si le document a été supprimé</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
	<wsdl:message name="insertDocumentGEDRequest">
		<wsdl:part name="login" type="xsd1:AuthInfo">
			<wsdl:documentation>Infos d'autentification</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="base" type="xsd:string">
			<wsdl:documentation>Base de destination</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="listeIndexValeur" type="xsd1:ListeIndexValeur">
			<wsdl:documentation>Liste des valeurs d'index à ajouter</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="file" type="xsd1:FichierWS">
			<wsdl:documentation>Fichier à ajouter</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="insertDocumentGEDResponse">
		<wsdl:part name="idDocumentRetour" type="xsd:string">
			<wsdl:documentation>Identifiant GED du document dans la base d'arrivée</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTypesZonesBaseRequest">
		<wsdl:part name="login" type="xsd1:AuthInfo">
			<wsdl:documentation>Infos d'autentification</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="base" type="xsd:string">
			<wsdl:documentation>Base contenant le document</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTypesZonesBaseResponse">
		<wsdl:part name="typesZones" type="xsd1:ArrayOfTypeZoneWS">
			<wsdl:documentation>Liste des types zones</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCategorieTypesZonesBaseRequest">
      <wsdl:part name="login" type="xsd1:AuthInfo">
         <wsdl:documentation>Infos d'autentification</wsdl:documentation>
      </wsdl:part>
      <wsdl:part name="base" type="xsd:string">
         <wsdl:documentation>Base contenant le document</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="getCategorieTypesZonesBaseResponse">
      <wsdl:part name="typesZones" type="xsd1:ArrayOfCategorieTypeZoneWS">
         <wsdl:documentation>Liste des types zones et des catégories pour une base</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permet de verifier que le serveur gedImage est en ligne</wsdl:documentation>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="reponse" type="xsd:string">
	</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDictionnaireRequest">
		<wsdl:part name="login" type="xsd1:AuthInfo">
			<wsdl:documentation>Objet d'authentification de l'application</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="base" type="xsd:string">
			<wsdl:documentation>Base documentaire ciblée par la recherche</wsdl:documentation>
		</wsdl:part>
		<wsdl:part name="typezone" type="xsd:string">
			<wsdl:documentation>Code du type zone lié au dictionnaire</wsdl:documentation>
      </wsdl:part>
		<wsdl:part name="masque" type="xsd:string">
			<wsdl:documentation>Masque de recherch</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDictionnaireResponse">
		<wsdl:part name="reponses" type="xsd1:ArrayOfString">
			<wsdl:documentation>Réponses du dictionnaire</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>	
	<wsdl:portType name="GedImagePortType">
		<wsdl:operation name="updateIndexDocumentGED">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mise à jour des index d'un document.</wsdl:documentation>
			<wsdl:input message="tns:updateIndexDocumentGEDRequest"/>
			<wsdl:output message="tns:generiqueResponse">
				<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retour générique</wsdl:documentation>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="moveDocumentGED">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mise à jour des index d'un document.</wsdl:documentation>
			<wsdl:input message="tns:moveDocumentGEDRequest"/>
			<wsdl:output message="tns:moveDocumentGEDResponse"/>
		</wsdl:operation>
		<wsdl:operation name="insertDocumentGED">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insertion d'un document.</wsdl:documentation>
			<wsdl:input message="tns:insertDocumentGEDRequest"/>
			<wsdl:output message="tns:insertDocumentGEDResponse"/>
		</wsdl:operation>
      <wsdl:operation name="deleteDocumentGED">
         <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Supprime un document</wsdl:documentation>
         <wsdl:input message="tns:deleteDocumentGEDRequest"/>
         <wsdl:output message="tns:deleteDocumentGEDResponse"/>
      </wsdl:operation>   
		<wsdl:operation name="getTypesZonesBase">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liste des type zone d'une base.</wsdl:documentation>
			<wsdl:input message="tns:getTypesZonesBaseRequest"/>
			<wsdl:output message="tns:getTypesZonesBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getCategorieTypesZonesBase">
         <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liste des types zones et des catégories pour une base</wsdl:documentation>
         <wsdl:input message="tns:getCategorieTypesZonesBaseRequest"/>
         <wsdl:output message="tns:getCategorieTypesZonesBaseResponse"/>
      </wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pong</wsdl:documentation>
			<wsdl:input message="tns:pingRequest"/>
			<wsdl:output message="tns:pingResponse">
				<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">La réponse garantie la présence du serveur.</wsdl:documentation>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDictionnaire">
		   <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liste des des dictionnaires pour une base et un type zone</wsdl:documentation>
			<wsdl:input message="tns:getDictionnaireRequest"/>
			<wsdl:output message="tns:getDictionnaireResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GedImageBinding" type="tns:GedImagePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="updateIndexDocumentGED">
			<soap:operation soapAction="capeconnect:GedImage:GedImagePortType#updateIndexDocumentGED"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="moveDocumentGED">
			<soap:operation soapAction="capeconnect:GedImage:GedImagePortType#moveDocumentGED"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteDocumentGED">
         <soap:operation soapAction="capeconnect:GedImage:GedImagePortType#deleteDocumentGED"/>
         <wsdl:input>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
         </wsdl:output>
      </wsdl:operation>
		<wsdl:operation name="insertDocumentGED">
			<soap:operation soapAction="capeconnect:GedImage:GedImagePortType#insertDocumentGED"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTypesZonesBase">
			<soap:operation soapAction="capeconnect:GedImage:GedImagePortType#getTypesZonesBase"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCategorieTypesZonesBase">
         <soap:operation soapAction="capeconnect:GedImage:GedImagePortType#getCategorieTypesZonesBase"/>
         <wsdl:input>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDictionnaire">
         <soap:operation soapAction="capeconnect:GedImage:GedImagePortType#getDictionnaire"/>
         <wsdl:input>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ping">
			<soap:operation soapAction="capeconnect:GedImage:GedImagePortType#ping"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://GedImage.cirtil.cer69.recouv/GedImage/binding"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GedImageService">
		<wsdl:port name="GedImagePort" binding="tns:GedImageBinding">
			<soap:address location="http://cer69imageint4.cer69.recouv:9021/services/gedimageserveur.php?WSDL"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Created using Cape Clear Studio SOA Editor - http://www.capeclear.com</wsdl:documentation>
</wsdl:definitions>