commons/commons-xml-jaxb-exemple-sandre/src/main/resources/META-INF/scenario/acq/1/acquittement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:sa_msg="http://xml.sandre.eaufrance.fr/message/1" xmlns="http://xml.sandre.eaufrance.fr/scenario/acq/1"
   xmlns:sa_int="http://xml.sandre.eaufrance.fr/int/2" targetNamespace="http://xml.sandre.eaufrance.fr/scenario/acq/1"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   finalDefault="" blockDefault="">
   <xs:import namespace="http://xml.sandre.eaufrance.fr/message/1"
      schemaLocation="../../../msg/1/message.xsd" />
   <xs:import namespace="http://xml.sandre.eaufrance.fr/int/2"
      schemaLocation="../../../int/2/sandre_ref_int.xsd" />
   <xs:annotation>
      <xs:documentation source="Code">ACQ</xs:documentation>
      <xs:documentation source="Id">urn:sandre:scenario:acq::1.0
      </xs:documentation>
      <xs:documentation source="Titre">Message d'acquittement
      </xs:documentation>
      <xs:documentation source="Copyright" />
      <xs:documentation source="Description">Message d'acquittement
      </xs:documentation>
      <xs:documentation source="Contributeur" />
      <xs:documentation source="Version">1.0</xs:documentation>
      <xs:documentation source="Theme" />
      <xs:documentation source="Couverture">France
      </xs:documentation>
      <xs:documentation source="MotCle" />
      <xs:documentation source="Lang">fra</xs:documentation>
      <xs:documentation source="DateCreation">2008-07-17
      </xs:documentation>
      <xs:documentation source="DateMAJ" />
      <xs:documentation source="DateValidation">2008-07-17
      </xs:documentation>
      <xs:documentation source="Evolution" />
      <xs:documentation source="StatutDoc">Validé
      </xs:documentation>
   </xs:annotation>
   <xs:element name="ACQ" abstract="false" nillable="false">
      <xs:annotation>
         <xs:documentation>message acquittement</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="false">
         <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Scenario" nillable="false"
               minOccurs="1" maxOccurs="1">
               <xs:complexType mixed="false">
                  <xs:sequence minOccurs="1" maxOccurs="1">
                     <xs:element name="CodeScenario" type="sa_msg:CodeScenario"
                        nillable="false" minOccurs="1" maxOccurs="1" />
                     <xs:element name="VersionScenario"
                        type="sa_msg:VersionScenario" nillable="false"
                        minOccurs="1" maxOccurs="1" />
                     <xs:element name="NomScenario" type="sa_msg:NomScenario"
                        nillable="false" minOccurs="1" maxOccurs="1" />
                     <xs:element name="DateCreationFichier"
                        type="sa_msg:DateCreationFichier" nillable="false"
                        minOccurs="0" maxOccurs="1" />
                     <xs:element name="ReferenceFichierEnvoi"
                        type="sa_msg:ReferenceFichierEnvoi" nillable="false"
                        minOccurs="1" maxOccurs="1" />
                     <xs:element name="Emetteur" nillable="false"
                        minOccurs="1" maxOccurs="1">
                        <xs:complexType mixed="false">
                           <xs:sequence minOccurs="1"
                              maxOccurs="1">
                              <xs:element name="CdIntervenant"
                                 type="sa_int:CdIntervenant" nillable="false"
                                 id="INT.2.2002-1" minOccurs="1"
                                 maxOccurs="1" />
                              <xs:element name="NomIntervenant"
                                 type="sa_int:NomIntervenant" nillable="false"
                                 id="INT.3.2002-1" minOccurs="0"
                                 maxOccurs="1" />
                              <xs:element name="Service"
                                 nillable="false" minOccurs="0"
                                 maxOccurs="1">
                                 <xs:complexType mixed="false">
                                    <xs:sequence minOccurs="1"
                                       maxOccurs="1">
                                       <xs:element name="NomService"
                                          type="sa_int:NomService"
                                          nillable="false" minOccurs="1"
                                          maxOccurs="1" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Contact"
                                 nillable="false" minOccurs="0"
                                 maxOccurs="1">
                                 <xs:complexType mixed="false">
                                    <xs:sequence minOccurs="1"
                                       maxOccurs="1">
                                       <xs:element name="NomContact"
                                          type="sa_int:NomContact"
                                          nillable="false" minOccurs="1"
                                          maxOccurs="1" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Destinataire"
                        nillable="false" minOccurs="1" maxOccurs="1">
                        <xs:complexType mixed="false">
                           <xs:sequence minOccurs="1"
                              maxOccurs="1">
                              <xs:element name="CdIntervenant"
                                 type="sa_int:CdIntervenant" nillable="false"
                                 minOccurs="1" maxOccurs="1" />
                              <xs:element name="NomIntervenant"
                                 type="sa_int:NomIntervenant" nillable="false"
                                 minOccurs="0" maxOccurs="1" />
                              <xs:element name="Service"
                                 nillable="false" minOccurs="0"
                                 maxOccurs="1">
                                 <xs:complexType mixed="false">
                                    <xs:sequence minOccurs="1"
                                       maxOccurs="1">
                                       <xs:element name="NomService"
                                          type="sa_int:NomService"
                                          nillable="false" minOccurs="1"
                                          maxOccurs="1" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="Contact"
                                 nillable="false" minOccurs="0"
                                 maxOccurs="1">
                                 <xs:complexType mixed="false">
                                    <xs:sequence minOccurs="1"
                                       maxOccurs="1">
                                       <xs:element name="NomContact"
                                          type="sa_int:NomContact"
                                          nillable="false" minOccurs="1"
                                          maxOccurs="1" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="AccuseReception" nillable="false"
               minOccurs="1" maxOccurs="1">
               <xs:complexType mixed="false">
                  <xs:sequence minOccurs="1" maxOccurs="1">
                     <xs:element name="Acceptation" type="sa_msg:Acceptation"
                        nillable="false" minOccurs="1" maxOccurs="1" />
                     <xs:element name="CodeScenario" type="sa_msg:CodeScenario"
                        nillable="false" minOccurs="1" maxOccurs="1" />
                     <xs:element name="VersionScenario"
                        nillable="false" minOccurs="1" maxOccurs="1" />
                     <xs:element name="NomScenario" type="sa_msg:NomScenario"
                        nillable="false" minOccurs="1" maxOccurs="1" />
                     <xs:element name="DateCreationFichier"
                        type="sa_msg:DateCreationFichier" nillable="false"
                        minOccurs="0" maxOccurs="1" />
                     <xs:element name="ReferenceFichierEnvoi"
                        type="sa_msg:ReferenceFichierEnvoi" nillable="false"
                        minOccurs="1" maxOccurs="1" />
                     <xs:element name="Erreur" nillable="false"
                        minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType mixed="false">
                           <xs:sequence minOccurs="1"
                              maxOccurs="1">
                              <xs:element name="CdErreur"
                                 type="sa_msg:CdErreur" nillable="false"
                                 minOccurs="1" maxOccurs="1" />
                              <xs:element name="LocationErreur"
                                 type="sa_msg:LocationErreur" nillable="false"
                                 minOccurs="1" maxOccurs="1" />
                              <xs:element name="DescriptifErreur"
                                 type="sa_msg:DescriptifErreur"
                                 nillable="false" minOccurs="1"
                                 maxOccurs="1" />
                           </xs:sequence>
                           <xs:attribute name="SeveriteErreur"
                              use="optional">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration
                                       value="Warning" />
                                    <xs:enumeration
                                       value="Error" />
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:attribute>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>