commons/commons-webservice-exemple-ssl/src/test/resources/document_literal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://localhost/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/">
   <types>
      <xsd:schema targetNamespace="http://localhost/">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
         <xsd:complexType name="bonjourRequestType">
            <xsd:all>
               <xsd:element name="nom" type="xsd:string"
                  form="unqualified" />
               <xsd:element name="prenom" type="xsd:string"
                  form="unqualified" />
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="bonjourResponseType">
            <xsd:all>
               <xsd:element name="resultat" type="xsd:string"
                  form="unqualified" />
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="multiplieRequestType">
            <xsd:all>
               <xsd:element name="valeur1" type="xsd:integer"
                  form="unqualified" />
               <xsd:element name="valeur2" type="xsd:integer"
                  form="unqualified" />
            </xsd:all>
         </xsd:complexType>
         <xsd:complexType name="multiplieResponseType">
            <xsd:all>
               <xsd:element name="produit" type="xsd:integer"
                  form="unqualified" />
            </xsd:all>
         </xsd:complexType>
         <xsd:element name="bonjour" type="tns:bonjourRequestType" />
         <xsd:element name="bonjourResponse" type="tns:bonjourResponseType" />
         <xsd:element name="multiplie" type="tns:multiplieRequestType" />
         <xsd:element name="multiplieResponse" type="tns:multiplieResponseType" />
      </xsd:schema>
   </types>
   <message name="bonjourRequest">
      <part name="parameters" element="tns:bonjour" />
   </message>
   <message name="bonjourResponse">
      <part name="parameters" element="tns:bonjourResponse" />
   </message>
   <message name="multiplieRequest">
      <part name="parameters" element="tns:multiplie" />
   </message>
   <message name="multiplieResponse">
      <part name="parameters" element="tns:multiplieResponse" />
   </message>
   <portType name="HelloServicePortType">
      <operation name="bonjour">
         <documentation>Un simple Bonjour en document/literal
         </documentation>
         <input message="tns:bonjourRequest" />
         <output message="tns:bonjourResponse" />
      </operation>
      <operation name="multiplie">
         <documentation>Une multiplication en document/literal
         </documentation>
         <input message="tns:multiplieRequest" />
         <output message="tns:multiplieResponse" />
      </operation>
   </portType>
   <binding name="HelloServiceBinding" type="tns:HelloServicePortType">
      <soap:binding style="rpc"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <operation name="bonjour">
         <soap:operation soapAction="http://localhost/#bonjour"
            style="document" />
         <input>
            <soap:body use="literal" namespace="http://localhost/" />
         </input>
         <output>
            <soap:body use="literal" namespace="http://localhost/" />
         </output>
      </operation>
      <operation name="multiplie">
         <soap:operation soapAction="http://localhost/#multiplie"
            style="document" />
         <input>
            <soap:body use="literal" namespace="http://localhost/" />
         </input>
         <output>
            <soap:body use="literal" namespace="http://localhost/" />
         </output>
      </operation>
   </binding>
   <service name="HelloService">
      <port name="HelloServicePort" binding="tns:HelloServiceBinding">
         <soap:address
            location="http://localhost:8100/webservices/test_document_literal.php" />
      </port>
   </service>
</definitions>