commons/commons-xml-jaxb-exemple-sandre/src/main/resources/META-INF/composantstypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:cct="http://xml.sandre.eaufrance.fr/Composants/1" xmlns:xlink="http://www.w3.org/1999/xlink"
   targetNamespace="http://xml.sandre.eaufrance.fr/Composants/1"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   finalDefault="" blockDefault="">
   <xs:import namespace="http://www.w3.org/1999/xlink"
      schemaLocation="xlinks.xsd" />
   <xs:simpleType name="time">
      <xs:restriction base="xs:time">
         <xs:pattern value="(([0-1][0-9])|(2[0-3])):[0-5][0-9]:[0-5][0-9]" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Null">
      <xs:restriction base="xs:token">
         <xs:enumeration value="" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="IdentifiersimpleType">
      <xs:restriction base="xs:token">
         <xs:minLength value="1" fixed="false" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeouNull">
      <xs:union memberTypes="xs:dateTime cct:Null" />
   </xs:simpleType>
   <xs:simpleType name="NumericouNull">
      <xs:union memberTypes="xs:double cct:Null" />
   </xs:simpleType>
   <xs:simpleType name="DateouNull">
      <xs:union memberTypes="xs:date cct:Null" />
   </xs:simpleType>
   <xs:simpleType name="TimeouNull">
      <xs:union memberTypes="cct:time cct:Null" />
   </xs:simpleType>
   <xs:attribute name="Role" type="xs:normalizedString" />
   <xs:attributeGroup name="commonAttributes">
      <xs:attribute name="language" type="xs:language" use="optional" />
      <xs:attribute ref="cct:Role" use="optional" />
   </xs:attributeGroup>
   <xs:complexType name="BinaryObjectType" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="xs:base64Binary">
            <xs:attribute name="mimeCode" type="xs:token"
               use="optional" />
            <xs:attribute name="charsetCode" type="xs:token"
               use="optional" />
            <xs:attribute name="filename" type="xs:token"
               use="optional" />
            <xs:attribute name="URI" type="xs:anyURI" use="optional" />
            <xs:attributeGroup ref="cct:commonAttributes" />
            <xs:attributeGroup ref="xlink:simpleLink" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="IdentifierType" abstract="false"
      id="CCT000101" mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:IdentifiersimpleType">
            <xs:attribute name="schemeID" type="xs:normalizedString"
               use="optional" />
            <xs:attribute name="schemeAgencyID" type="xs:normalizedString"
               use="optional" />
            <xs:attributeGroup ref="cct:commonAttributes" />
            <xs:attributeGroup ref="xlink:simpleLink" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="CodeType" abstract="false" id="CCT000089"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="listID" type="xs:normalizedString"
               use="optional" />
            <xs:attribute name="listAgencyID" type="xs:normalizedString"
               use="optional" />
            <xs:attributeGroup ref="cct:commonAttributes" />
            <xs:attributeGroup ref="xlink:simpleLink" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="DateTimeType" abstract="false"
      id="CCT000066" mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:DateTimeouNull">
            <xs:attributeGroup ref="cct:commonAttributes" />
            <xs:attributeGroup ref="xlink:simpleLink" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="DateType" abstract="false" id="CCD000661"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:DateouNull">
            <xs:attributeGroup ref="cct:commonAttributes" />
            <xs:attributeGroup ref="xlink:simpleLink" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="TimeType" abstract="false" id="CCD000662"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:TimeouNull">
            <xs:attributeGroup ref="cct:commonAttributes" />
            <xs:attributeGroup ref="xlink:simpleLink" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="IndicatorType" abstract="false"
      id="CCT000180" mixed="false">
      <xs:simpleContent>
         <xs:extension base="xs:boolean">
            <xs:attributeGroup ref="cct:commonAttributes" />
            <xs:attributeGroup ref="xlink:simpleLink" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="NumericType" abstract="false"
      id="CCT000204" mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:NumericouNull" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="TextType" abstract="false" id="CCT000090"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="cct:commonAttributes" />
            <xs:attributeGroup ref="xlink:simpleLink" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
</xs:schema>