sae/sae-ecde/src/main/resources/xsd_som_res/commun_sommaire_et_resultat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://www.cirtil.fr/sae/commun_sommaire_et_resultat"
   xmlns:somres="http://www.cirtil.fr/sae/commun_sommaire_et_resultat"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified">
   
   
   <!-- 
   =======================================
   Type de traitement de masse
   =======================================
   -->
   <xsd:simpleType name="batchModeType">
      <xsd:annotation>
         <xsd:documentation>Le type du traitement de masse</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="TOUT_OU_RIEN" />
         <xsd:enumeration value="PARTIEL"/>
      </xsd:restriction>
   </xsd:simpleType>
   
   
   <!-- 
   =======================================
   Document
   =======================================
   -->
   <xsd:complexType name="documentType">
      <xsd:annotation>
         <xsd:documentation>Définition d'un document à archiver</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         
         <!-- L'objet numérique (fichier) -->
         <xsd:element name="objetNumerique" type="somres:fichierType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Le fichier représentant le contenu du document à archiver</xsd:documentation>
            </xsd:annotation>
         </xsd:element>

         <!-- Les métadonnées -->
         <xsd:element name="metadonnees" type="somres:listeMetadonneeType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>La liste des métadonnées associées au document, sous la forme d'une liste de paire clé/valeur</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="numeroPageDebut" type="xsd:int" minOccurs="0" maxOccurs="1" />
         
         <xsd:element name="nombreDePages" type="xsd:int" minOccurs="0" maxOccurs="1" />
                  
      </xsd:sequence>
   </xsd:complexType>
   
    <!-- 
   =======================================
   Document  non archivé
   =======================================
   -->
   <xsd:complexType name="nonIntegratedDocumentType">
      <xsd:annotation>
         <xsd:documentation>Définition d'un document non archivé</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         
         <!-- L'objet numérique (fichier) -->
         <xsd:element name="objetNumerique" type="somres:fichierType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Le fichier représentant le contenu du document à archiver</xsd:documentation>
            </xsd:annotation>
         </xsd:element>

         <!-- Les erreurs -->
         <xsd:element name="erreurs" type="somres:listeErreurType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>La liste des erreurs des documents non archivés</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="numeroPageDebut" type="xsd:int" minOccurs="0" maxOccurs="1" />
         
         <xsd:element name="nombreDePages" type="xsd:int" minOccurs="0" maxOccurs="1" />
                  
      </xsd:sequence>
   </xsd:complexType>
   
   
   <!-- 
   =======================================
   Liste de documents
   =======================================
   -->
   <xsd:complexType name="listeDocumentsType">
      <xsd:annotation>
         <xsd:documentation>Une liste de documents</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="document" type="somres:documentType" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   
   <!-- 
   =======================================
   La liste des documents qui n'ont pas été archivés
   =======================================
   -->
   <xsd:complexType name="listeNonIntegratedDocumentsType">
      <xsd:annotation>
         <xsd:documentation>Une liste de documents non archivés</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="nonIntegratedDocument" type="somres:nonIntegratedDocumentType" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   
   
   <!-- 
   =======================================
   Document virtuel
   =======================================
   -->
   <xsd:complexType name="documentVirtuelType">
      <xsd:annotation>
         <xsd:documentation>Un document virtuel</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         
         <!-- L'objet numérique (fichier) -->
         <xsd:element name="objetNumerique" type="somres:fichierType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Le fichier représentant le contenu du document virtuel à archiver</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         
         <!-- Les composants du document virtuel -->
         <xsd:element name="composants" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Les composants du documents virtuels (indexations)</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="composant" type="somres:composantDocumentVirtuelType" minOccurs="0" maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>Les composants</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         
         <xsd:element name="numeroPageDebut" type="xsd:int" minOccurs="0" maxOccurs="1" />
         
         <xsd:element name="nombreDePages" type="xsd:int" minOccurs="0" maxOccurs="1" />
         
      </xsd:sequence>
   </xsd:complexType>
   
   
   <!-- 
   =======================================
   Liste de documents virtuels
   =======================================
   -->
   <xsd:complexType name="listeDocumentsVirtuelsType">
      <xsd:annotation>
         <xsd:documentation>Une liste de documents virtuels</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="documentVirtuel" type="somres:documentVirtuelType" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>   
   
   
   <!-- 
   =======================================
   Une métadonnée
   =======================================
   -->
   <xsd:complexType name="metadonneeType">
      <xsd:annotation>
         <xsd:documentation>Une métadonnée, définie par un code et une valeur</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         
         <!-- Le code -->
         <xsd:element name="code" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Le code de la métadonnée (identifiant unique)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         
         <!-- La valeur -->
         <xsd:element name="valeur" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>La valeur de la métadonnée (la valeur peut être vide)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         
      </xsd:sequence>
   </xsd:complexType>
   

   <!-- 
   =======================================
   Liste de métadonnées
   =======================================
   -->
   <xsd:complexType name="listeMetadonneeType">
      <xsd:annotation>
         <xsd:documentation>Une liste de métadonnées</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="metadonnee" type="somres:metadonneeType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Les métadonnées</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   
    <!-- 
   =======================================
   Une erreur
   =======================================
   -->
   <xsd:complexType name="erreurType">
      <xsd:annotation>
         <xsd:documentation>Une erreur, définie par un code et un libellé</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         
         <!-- Le code -->
         <xsd:element name="code" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Le code de l'erreur</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         
         <!-- Le libelle -->
         <xsd:element name="libelle" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Le libelle de l'erreur</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         
      </xsd:sequence>
   </xsd:complexType>
   
   <!-- 
   =======================================
   Liste de erreurs
   =======================================
   -->
   <xsd:complexType name="listeErreurType">
      <xsd:annotation>
         <xsd:documentation>Une liste d'erreur</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="erreur" type="somres:erreurType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Les erreurs</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   
   
   <!-- 
   =======================================
   Fichier
   =======================================
   -->
   <xsd:complexType name="fichierType">
      <xsd:annotation>
         <xsd:documentation>Définition d'un fichier</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
      
         <!-- Le chemin et le nom du fichier, relatif au répertoire de l'ECDE -->
         <xsd:element name="cheminEtNomDuFichier" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  Le chemin et le nom du fichier, relatif au répertoire de traitement de l'ECDE.
                  Par exemple, soit le fichier physique suivant : 
                     /ecde_lyon/DCL/20110712/1/documents/partie1/toto.pdf
                  Le chemin relatif de ce fichier est "partie1/toto.pdf"
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         
      </xsd:sequence>
   </xsd:complexType>
   

   <!-- 
   =======================================
   Composant d'un document virtuel (indexation)
   =======================================
   -->
   <xsd:complexType name="composantDocumentVirtuelType">
      <xsd:annotation>
         <xsd:documentation>Composant d'un document virtuel (indexation)</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         
         <!-- Les métadonnées -->
         <xsd:element name="metadonnees" type="somres:listeMetadonneeType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>La liste des métadonnées associées au document virtuel, sous la forme d'une liste de paire clé/valeur</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="numeroPageDebut" type="xsd:int" minOccurs="1" maxOccurs="1" />
         
         <xsd:element name="nombreDePages" type="xsd:int" minOccurs="1" maxOccurs="1" />
         
      </xsd:sequence>
   </xsd:complexType>
   

</xsd:schema>