commons/commons-xml-jaxb/src/main/resources/META-INF/bibliotheque.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<xsd:element name="Documents">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Document" type="DocumentType"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>

	</xsd:element>

	<xsd:complexType name="DocumentType">
		<xsd:annotation>
			<xsd:documentation>commentaire à faire</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Titre" type="xsd:string" />
			<xsd:element name="Date" type="xsd:date" />
			<xsd:element name="Auteur" type="AuteurType" />
			<xsd:sequence>
				<xsd:element name="Etat" type="EtatType" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:int" />
	</xsd:complexType>

	<xsd:complexType name="AuteurType">
		<xsd:sequence>
			<xsd:element name="nom" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:int" />
	</xsd:complexType>

	<xsd:complexType name="EtatType">
		<xsd:sequence>
			<xsd:element name="Libelle" type="xsd:string" />
			<xsd:element name="Date" type="xsd:date" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:int" />
	</xsd:complexType>

</xsd:schema>
