commons/commons-webservice-wssecurity-spring-client/src/test/resources/DocumentService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DocumentService" targetNamespace="http://service.spring.wssecurity.webservice.commons.image.urssaf.fr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.spring.wssecurity.webservice.commons.image.urssaf.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.spring.wssecurity.webservice.commons.image.urssaf.fr/" version="1.0" xmlns:tns="http://service.spring.wssecurity.webservice.commons.image.urssaf.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="allDocuments" type="tns:allDocuments"/>
<xs:element name="allDocumentsResponse" type="tns:allDocumentsResponse"/>
<xs:element name="getDocument" type="tns:getDocument"/>
<xs:element name="getDocumentResponse" type="tns:getDocumentResponse"/>
<xs:element name="save" type="tns:save"/>
<xs:element name="saveResponse" type="tns:saveResponse"/>
<xs:complexType name="save">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:document"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="document">
<xs:sequence>
<xs:element minOccurs="0" name="closeDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="comment" type="xs:string"/>
<xs:element minOccurs="0" name="etat" type="tns:etat"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="etats" nillable="true" type="tns:etat"/>
<xs:element name="flag" type="xs:boolean"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="level" type="xs:int"/>
<xs:element minOccurs="0" name="openDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="titre" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="saveResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getDocument">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getDocumentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:document"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="allDocuments">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="allDocumentsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:document"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="etat">
<xs:restriction base="xs:string">
<xs:enumeration value="init"/>
<xs:enumeration value="close"/>
<xs:enumeration value="open"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="allDocumentsResponse">
    <wsdl:part element="tns:allDocumentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="allDocuments">
    <wsdl:part element="tns:allDocuments" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentResponse">
    <wsdl:part element="tns:getDocumentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part element="tns:save" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveResponse">
    <wsdl:part element="tns:saveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocument">
    <wsdl:part element="tns:getDocument" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DocumentService">
    <wsdl:operation name="save">
      <wsdl:input message="tns:save" name="save">
    </wsdl:input>
      <wsdl:output message="tns:saveResponse" name="saveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocument">
      <wsdl:input message="tns:getDocument" name="getDocument">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentResponse" name="getDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allDocuments">
      <wsdl:input message="tns:allDocuments" name="allDocuments">
    </wsdl:input>
      <wsdl:output message="tns:allDocumentsResponse" name="allDocumentsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentServiceSoapBinding" type="tns:DocumentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="save">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allDocuments">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="allDocuments">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="allDocumentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentService">
    <wsdl:port binding="tns:DocumentServiceSoapBinding" name="DocumentServicePort">
      <soap:address location="http://localhost:8080/commons-webservice-wssecurity-spring/service/DocumentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>