commons/commons-webservice/src/test/resources/cxf/rpc_literal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DocServiceRpcLiteral"
   targetNamespace="http://literal.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
   xmlns:ns1="http://encoded.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
   xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns="http://literal.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
      <xs:schema
         targetNamespace="http://encoded.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
         version="1.0"
         xmlns:tns="http://encoded.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
         xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:complexType name="document">
            <xs:sequence>
               <xs:element minOccurs="0" name="closeDate"
                  type="xs:dateTime" />
               <xs:element minOccurs="0" name="comment" type="xs:string" />
               <xs:element minOccurs="0" name="etat" type="tns:etat" />
               <xs:element maxOccurs="unbounded" minOccurs="0"
                  name="etats" nillable="true" type="tns:etat" />
               <xs:element name="flag" type="xs:boolean" />
               <xs:element name="id" type="xs:int" />
               <xs:element name="level" type="xs:int" />
               <xs:element minOccurs="0" name="openDate"
                  type="xs:dateTime" />
               <xs:element minOccurs="0" name="titre" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:simpleType name="etat">
            <xs:restriction base="xs:string">
               <xs:enumeration value="init" />
               <xs:enumeration value="close" />
               <xs:enumeration value="open" />
            </xs:restriction>
         </xs:simpleType>
         <xs:complexType final="#all" name="documentArray">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0"
                  name="item" nillable="true" type="tns:document" />
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="save">
      <wsdl:part name="document" type="ns1:document">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="saveResponse">
   </wsdl:message>
   <wsdl:message name="allDocumentsResponse">
      <wsdl:part name="return" type="ns1:documentArray">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="allDocuments">
   </wsdl:message>
   <wsdl:message name="getDocumentResponse">
      <wsdl:part name="return" type="ns1:document">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="getDocument">
      <wsdl:part name="id" type="xsd:int">
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="DocService">
      <wsdl:operation name="allDocuments">
         <wsdl:input message="tns:allDocuments" name="allDocuments">
         </wsdl:input>
         <wsdl:output message="tns:allDocumentsResponse"
            name="allDocumentsResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDocument">
         <wsdl:input message="tns:getDocument" name="getDocument">
         </wsdl:input>
         <wsdl:output message="tns:getDocumentResponse"
            name="getDocumentResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="save">
         <wsdl:input message="tns:save" name="save">
         </wsdl:input>
         <wsdl:output message="tns:saveResponse" name="saveResponse">
         </wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="DocServiceRpcLiteralSoapBinding"
      type="tns:DocService">
      <soap:binding style="rpc"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="allDocuments">
         <soap:operation soapAction="" style="rpc" />
         <wsdl:input name="allDocuments">
            <soap:body
               namespace="http://literal.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="allDocumentsResponse">
            <soap:body
               namespace="http://literal.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
               use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDocument">
         <soap:operation soapAction="" style="rpc" />
         <wsdl:input name="getDocument">
            <soap:body
               namespace="http://literal.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="getDocumentResponse">
            <soap:body
               namespace="http://literal.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
               use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="save">
         <soap:operation soapAction="" style="rpc" />
         <wsdl:input name="save">
            <soap:body
               namespace="http://literal.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="saveResponse">
            <soap:body
               namespace="http://literal.rpc.service.exemple.spring.webservice.commons.image.urssaf.fr/"
               use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DocServiceRpcLiteral">
      <wsdl:port binding="tns:DocServiceRpcLiteralSoapBinding"
         name="DocumentServicePort">
         <soap:address
            location="http://localhost:8080/commons-webservice-spring-exemple/service/DocServiceRpcLiteral" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>