commons/commons-webservice/src/test/resources/axis/rpc_encoded.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://localhost/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/">
   <types>
      <xsd:schema targetNamespace="http://localhost/">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      </xsd:schema>
   </types>
   <message name="bonjourRequest">
      <part name="nom" type="xsd:string" />
      <part name="prenom" type="xsd:string" />
   </message>
   <message name="bonjourResponse">
      <part name="resultat" type="xsd:string" />
   </message>
   <message name="multiplieRequest">
      <part name="valeur1" type="xsd:integer" />
      <part name="valeur2" type="xsd:integer" />
   </message>
   <message name="multiplieResponse">
      <part name="produit" type="xsd:integer" />
   </message>
   <portType name="HelloServicePortType">
      <operation name="bonjour">
         <documentation>Un simple Bonjour en RPC/encoded</documentation>
         <input message="tns:bonjourRequest" />
         <output message="tns:bonjourResponse" />
      </operation>
      <operation name="multiplie">
         <documentation>Une multiplication en RPC/encoded
         </documentation>
         <input message="tns:multiplieRequest" />
         <output message="tns:multiplieResponse" />
      </operation>
   </portType>
   <binding name="HelloServiceBinding" type="tns:HelloServicePortType">
      <soap:binding style="rpc"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <operation name="bonjour">
         <soap:operation soapAction="http://localhost/#bonjour"
            style="rpc" />
         <input>
            <soap:body use="encoded" namespace="http://localhost/"
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
         </input>
         <output>
            <soap:body use="encoded" namespace="http://localhost/"
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
         </output>
      </operation>
      <operation name="multiplie">
         <soap:operation soapAction="http://localhost/#multiplie"
            style="rpc" />
         <input>
            <soap:body use="encoded" namespace="http://localhost/"
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
         </input>
         <output>
            <soap:body use="encoded" namespace="http://localhost/"
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
         </output>
      </operation>
   </binding>
   <service name="HelloService">
      <port name="HelloServicePort" binding="tns:HelloServiceBinding">
         <soap:address
            location="http://localhost:8100/webservices/test_rpc_encoded.php" />
      </port>
   </service>
</definitions>