sae/sae-webservices/src/main/resources/META-INF/SaeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.cirtil.fr/saeService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.cirtil.fr/saeService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://www.cirtil.fr/saeService" xmlns="http://www.w3.org/2001/XMLSchema">

         <element name="PingRequest">
            <complexType/>
         </element>
         
         <element name="PingResponse">
           <complexType>
               <sequence>
                  <element name="pingString" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="PingSecureRequest">
            <complexType/>
         </element>
         
         <element name="PingSecureResponse">
           <complexType>
               <sequence>
                  <element name="pingString" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>

      </schema>
  </wsdl:types>
  <wsdl:message name="PingResponseMessage">
    <wsdl:part name="output" element="tns:PingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PingSecureResponseMessage">
    <wsdl:part name="output" element="tns:PingSecureResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PingRequestMessage">
    <wsdl:part name="input" element="tns:PingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PingSecureRequestMessage">
    <wsdl:part name="input" element="tns:PingSecureRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SaeServicePortType">
    <wsdl:operation name="Ping" parameterOrder="input">
      <wsdl:input message="tns:PingRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PingResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingSecure" parameterOrder="input">
      <wsdl:input message="tns:PingSecureRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:PingSecureResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaeServiceSoapBinding" type="tns:SaeServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="Ping"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingSecure">
      <soap:operation soapAction="PingSecure"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaeService">
    <wsdl:port name="SaeServicePort" binding="tns:SaeServiceSoapBinding">
      <soap:address location="http://localhost:8080/axis2/services/SaeService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
