sae-integration/sae-integration-ihmweb/src/test/resources/SaeService_WSDL/SaeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.cirtil.fr/saeService"
   xmlns:tns="http://www.cirtil.fr/saeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
   xmlns:sae="http://www.cirtil.fr/saeService">

   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.cirtil.fr/saeService"
            schemaLocation="SaeService.xsd" />
      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="PingRequestMessage">
      <wsdl:documentation>Message d'interrogation du service de test
         serveur</wsdl:documentation>
      <wsdl:part name="input" element="sae:PingRequest" />
   </wsdl:message>

   <wsdl:message name="PingResponseMessage">
      <wsdl:documentation>Message de réponse du service de test serveur
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:PingResponse" />
   </wsdl:message>

   <wsdl:message name="PingSecureRequestMessage">
      <wsdl:documentation>Message d'interrogation du service de test
         serveur en mode sécurisé</wsdl:documentation>
      <wsdl:part name="input" element="sae:PingSecureRequest" />
   </wsdl:message>

   <wsdl:message name="PingSecureResponseMessage">
      <wsdl:documentation>Message de réponse du service de test serveur
         en mode sécurisé</wsdl:documentation>
      <wsdl:part name="output" element="sae:PingSecureResponse" />
   </wsdl:message>

   <wsdl:message name="archivageUnitaireRequestMessage">
      <wsdl:documentation>Message de demande pour archiver un document
         unique</wsdl:documentation>
      <wsdl:part name="input" element="sae:archivageUnitaire" />
   </wsdl:message>

   <wsdl:message name="archivageUnitaireResponseMessage">
      <wsdl:documentation>Message de réponse à l'archivage d'un document
         unique</wsdl:documentation>
      <wsdl:part name="output" element="sae:archivageUnitaireResponse" />
   </wsdl:message>

   <wsdl:message name="archivageUnitairePJRequestMessage">
      <wsdl:documentation>Message de demande pour archiver un document
         unique</wsdl:documentation>
      <wsdl:part name="input" element="sae:archivageUnitairePJ" />
   </wsdl:message>
   
   <wsdl:message name="archivageUnitairePJResponseMessage">
      <wsdl:documentation>Message de réponse à l'archivage d'un document
         unique</wsdl:documentation>
      <wsdl:part name="output" element="sae:archivageUnitairePJResponse" />
   </wsdl:message>

   <wsdl:message name="archivageMasseRequestMessage">
      <wsdl:documentation>Message de demande pour archiver des documents
         multiples</wsdl:documentation>
      <wsdl:part name="input" element="sae:archivageMasse" />
   </wsdl:message>

   <wsdl:message name="archivageMasseResponseMessage">
      <wsdl:documentation>Message de réponse à une demande d'archivage
         de documents multiples</wsdl:documentation>
      <wsdl:part name="output" element="sae:archivageMasseResponse" />
   </wsdl:message>

   <wsdl:message name="rechercheRequestMessage">
      <wsdl:documentation>Message de demande d'une recherche
         documentaire sur le SAE</wsdl:documentation>
      <wsdl:part name="input" element="sae:recherche" />
   </wsdl:message>

   <wsdl:message name="rechercheResponseMessage">
      <wsdl:documentation>Message contenant le résultat d'une recherche
         documentaire sur le SAE</wsdl:documentation>
      <wsdl:part name="output" element="sae:rechercheResponse" />
   </wsdl:message>

   <wsdl:message name="consultationRequestMessage">
      <wsdl:documentation>Message de demande d'une consultation de
         documents SAE</wsdl:documentation>
      <wsdl:part name="input" element="sae:consultation" />
   </wsdl:message>

   <wsdl:message name="consultationResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         consultation de documents au SAE</wsdl:documentation>
      <wsdl:part name="output" element="sae:consultationResponse" />
   </wsdl:message>

   <wsdl:message name="consultationMTOMRequestMessage">
      <wsdl:documentation>Message contenant le résultat de la
         consultationMTOM de documents au SAE</wsdl:documentation>
      <wsdl:part name="input" element="sae:consultationMTOM" />
   </wsdl:message>

   <wsdl:message name="consultationMTOMResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         consultationMTOM de documents au SAE</wsdl:documentation>
      <wsdl:part name="output" element="sae:consultationMTOMResponse" />
   </wsdl:message>


   <wsdl:portType name="SaeServicePortType">

      <wsdl:operation name="Ping" parameterOrder="input">
         <wsdl:documentation>Opération de test de la disponibilité du
            serveur</wsdl:documentation>
         <wsdl:input message="tns:PingRequestMessage" />
         <wsdl:output message="tns:PingResponseMessage" />
      </wsdl:operation>

      <wsdl:operation name="PingSecure" parameterOrder="input">
         <wsdl:documentation>Opération de test de la disponibilité du
            serveur en mode sécurisé</wsdl:documentation>
         <wsdl:input message="tns:PingSecureRequestMessage" />
         <wsdl:output message="tns:PingSecureResponseMessage" />
      </wsdl:operation>

      <wsdl:operation name="archivageUnitaire"
         parameterOrder="input">
         <wsdl:documentation>Opération d'archivage d'un document unique
         </wsdl:documentation>
         <wsdl:input message="tns:archivageUnitaireRequestMessage" />
         <wsdl:output message="tns:archivageUnitaireResponseMessage" />
      </wsdl:operation>

      <wsdl:operation name="archivageMasse"
         parameterOrder="input">
         <wsdl:documentation>Opération d'archivage de documents
            multiples</wsdl:documentation>
         <wsdl:input message="tns:archivageMasseRequestMessage" />
         <wsdl:output message="tns:archivageMasseResponseMessage" />
      </wsdl:operation>

      <wsdl:operation name="recherche" parameterOrder="input">
         <wsdl:documentation>Opération de recherche documentaire sur le
            SAE</wsdl:documentation>
         <wsdl:input message="tns:rechercheRequestMessage" />
         <wsdl:output message="tns:rechercheResponseMessage" />
      </wsdl:operation>

      <wsdl:operation name="consultation" parameterOrder="input">
         <wsdl:documentation>Opération de consultation documentaire sur
            le SAE</wsdl:documentation>
         <wsdl:input message="tns:consultationRequestMessage" />
         <wsdl:output message="tns:consultationResponseMessage" />
      </wsdl:operation>

      <wsdl:operation name="consultationMTOM"
         parameterOrder="input">
         <wsdl:documentation>Opération de consultationMTOM documentaire
            sur le SAE</wsdl:documentation>
         <wsdl:input message="tns:consultationMTOMRequestMessage" />
         <wsdl:output message="tns:consultationMTOMResponseMessage" />
      </wsdl:operation>
      
      <wsdl:operation name="archivageUnitairePJ"
         parameterOrder="input">
         <wsdl:documentation>Opération d'archivage d'un document unique
         </wsdl:documentation>
         <wsdl:input message="tns:archivageUnitairePJRequestMessage" />
         <wsdl:output message="tns:archivageUnitairePJResponseMessage" />
      </wsdl:operation>
      

   </wsdl:portType>


   <wsdl:binding name="SaeServiceSoapBinding" type="sae:SaeServicePortType">

      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />

      <wsdl:operation name="Ping">
         <soap:operation soapAction="Ping" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="PingSecure">
         <soap:operation soapAction="PingSecure" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="archivageUnitaire">
         <wsdl:documentation>Service d'archivage unitaire de document
         </wsdl:documentation>
         <soap:operation soapAction="archivageUnitaire" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="archivageMasse">
         <wsdl:documentation>Service d'archivage de documents multiples
         </wsdl:documentation>
         <soap:operation soapAction="archivageMasse" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="recherche">
         <wsdl:documentation>Service de recherche documentaire sur le
            SAE</wsdl:documentation>
         <soap:operation soapAction="recherche" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="consultation">
         <wsdl:documentation>Service de consultation documentaire du SAE
         </wsdl:documentation>
         <soap:operation soapAction="consultation" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>


      <wsdl:operation name="consultationMTOM">
         <wsdl:documentation>Service de consultationMTOM documentaire du
            SAE</wsdl:documentation>
         <soap:operation soapAction="consultationMTOM" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      
      <wsdl:operation name="archivageUnitairePJ">
         <wsdl:documentation>Service d'archivage unitaire de document
         </wsdl:documentation>
         <soap:operation soapAction="archivageUnitairePJ" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      
   </wsdl:binding>


   <wsdl:service name="SaeService">
      <wsdl:port name="SaeServicePort" binding="tns:SaeServiceSoapBinding">
         <soap:address
            location="http://localhost:8080/axis2/services/SaeService/" />
      </wsdl:port>
   </wsdl:service>


</wsdl:definitions>
