commons/commons-xml-jaxb-exemple-sandre/src/main/resources/META-INF/int/2/sandre_ref_int.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cct="http://xml.sandre.eaufrance.fr/Composants/1"
   xmlns:sa_int="http://xml.sandre.eaufrance.fr/int/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://xml.sandre.eaufrance.fr/int/2"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   finalDefault="" blockDefault="">
   <xsd:import namespace="http://xml.sandre.eaufrance.fr/Composants/1"
      schemaLocation="../../composantstypes.xsd" />
   <xsd:annotation>
      <xsd:documentation source="Code">INT
      </xsd:documentation>
      <xsd:documentation source="Id">urn:sandre:dictionnaire:sa_int::2.0
      </xsd:documentation>
      <xsd:documentation source="Titre">Référentiel des
         intervenants</xsd:documentation>
      <xsd:documentation source="Copyright" />
      <xsd:documentation source="Description" />
      <xsd:documentation source="Contributeur" />
      <xsd:documentation source="Version">2.0
      </xsd:documentation>
      <xsd:documentation source="Theme" />
      <xsd:documentation source="Couverture">France
      </xsd:documentation>
      <xsd:documentation source="MotCle" />
      <xsd:documentation source="Lang">fra
      </xsd:documentation>
      <xsd:documentation source="DateCreation" />
      <xsd:documentation source="DateMAJ" />
      <xsd:documentation source="DateValidation" />
      <xsd:documentation source="Evolution">Le modèle Intervenant
         décrit la manière de gérer un intervenant.</xsd:documentation>
      <xsd:documentation source="StatutDoc">Validé
      </xsd:documentation>
   </xsd:annotation>
   <xsd:annotation>
      <xsd:documentation>-----------------Entités-----------------
      </xsd:documentation>
   </xsd:annotation>
   <xsd:complexType name="Contact" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            CONTACT</xsd:documentation>
         <xsd:documentation source="Definition">Tout utilisateur de
            la liste SANDRE des intervenants peut dresser pour ses
            propres besoins une liste de personnes physiques ou
            'contacts' représentant l'intervenant dans le cadre d'une ou
            plusieurs fonctions (Directeur général, Directeur de
            laboratoire, responsable administratif, correspondant
            technique, ...)

            La liste des contacts n'est pas gérée au niveau national. Il s'agit
            d'un outil (en termes de modélisation) mis à disposition par
            le SANDRE à l'ensemble des producteurs qui seront
            responsables des listes qu'ils gérent en interne à leur
            organisation.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence minOccurs="1" maxOccurs="1">
         <xsd:element name="CdContact" type="sa_int:CdContact"
            nillable="false" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Code du contact</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="NomContact" type="sa_int:NomContact"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Nom du contact</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="FonctionContact" type="sa_int:FonctionContact"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Fonction du contact</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TelephoneContact" type="sa_int:TelephoneContact"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Téléphone du contact</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="FaxContact" type="sa_int:FaxContact"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Fax du contact</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Intervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            INTERVENANT</xsd:documentation>
         <xsd:documentation source="Definition">Les intervenants
            sont tous les organismes ayant un ou plusieurs rôle(s) en
            tant qu’acteur de l’eau et qui sont référencés dans les
            bases de données respectant le formalisme du SANDRE. Ils
            sont identifiés dans les échanges de données par leur code
            SIRET. Quand ce dernier ne peut pas exister car
            l'intervenant ne rentre pas dans le domaine d'application du
            registre national ou lorsque ce code ne permet pas
            d’identifier de manière univoque l’intervenant (cas des
            structures incluses dans une structure plus générale), il
            est alors identifié par son code SANDRE.

            Ils se partagent entre plusieurs catégories dont :
            - laboratoire d'analyse,
            - préleveur,
            - opérateur en hydrométrie,
            - laboratoire d'hydrobiologie,
            - organisme chargé de la police des eaux,
            - producteur/ gestionnaire,
            - …

            Deux informations sont utilisées pour identifier un intervenant : son
            code et le code SIRET de l’organisme auquel il est rattaché
            :
            - Cas 1 : l’organisme est SIRETE, par exemple un laboratoire. Le code
            SIRET est utilisé, aucun code SANDRE n’est indiqué.
            L’attribut “ code SIRET de l’organisme auquel est rattaché
            l’intervenant ” n’est pas rempli,
            - Cas 2 : l’organisme n’a pas de code SIRET, dans ce cas, il est
            attribué un code SANDRE. L’attribut “ code SIRET de
            l’organisme auquel est rattaché l’intervenant ” n’est pas
            rempli,
            - Cas 3 : l’organisme n’a pas de code SIRET en tant qu’établissement
            mais est rattaché à une structure, par exemple le SATESE
            rattaché au Conseil Général. Dans ce cas, il est attribué un
            code SANDRE et l’attribut “ code SIRET de l’organisme auquel
            est rattaché l’intervenant ” est rempli avec le code SIRET,
            dans l’exemple, celui du Conseil Général.

            La liste nationale des codes SANDRE des intervenants est établie sous
            la responsabilité du SANDRE. Le code SIRET est établi par
            l'INSEE.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence minOccurs="1" maxOccurs="1">
         <xsd:element name="CdIntervenant" type="sa_int:CdIntervenant"
            nillable="false" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Code de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="NomIntervenant" type="sa_int:NomIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Nom de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="StIntervenant" type="sa_int:StIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Statut de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DateCreationIntervenant" type="sa_int:DateCreationIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Date de création de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DateMajIntervenant" type="sa_int:DateMajIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Date de la dernière mise-à-jour de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AuteurIntervenant" type="sa_int:AuteurIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Auteur de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MnIntervenant" type="sa_int:MnIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Mnémonique de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BpIntervenant" type="sa_int:BpIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Boîte aux lettres / boite postale de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ImmoIntervenant" type="sa_int:ImmoIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Nom de l'ensemble immobilier où réside l'intervenant
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RueIntervenant" type="sa_int:RueIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Rue de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LieuIntervenant" type="sa_int:LieuIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Lieu-dit où réside l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="VilleIntervenant" type="sa_int:VilleIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Ville de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DepIntervenant" type="sa_int:DepIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Département / pays de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CommentairesIntervenant" type="sa_int:CommentairesIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Commentaires sur l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ActivitesIntervenant" type="sa_int:ActivitesIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Domaine(s) d'activité de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CPIntervenant" type="sa_int:CPIntervenant"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Code postal de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="NomInternationalIntervenant"
            type="sa_int:NomInternationalIntervenant" nillable="false"
            minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Nom international de l'intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CdSIRETRattacheIntervenant"
            type="sa_int:CdSIRETRattacheIntervenant" nillable="false"
            minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Code SIRET de l'organisme auquel est rattaché l'intervenant
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Service" type="sa_int:Service"
            nillable="false" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation source="Libelle">Service
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Contact" type="sa_int:Contact"
            nillable="false" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation source="Libelle">Représentants
                  de l_intervenant</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Service" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            SERVICE</xsd:documentation>
         <xsd:documentation source="Definition">Un service est une
            structure rattachée à un unique intervenant sur le plan de
            l'organisation du travail, et exerçant un ensemble de tâches
            spécifiques.
            La notion de service interne apparait dès lors qu'un intervenant
            définit explicitement son mode d'organisation ainsi que la
            répartition des moyens humains et matériels en plusierus
            unités distinctes.

            Cette information permet de préciser davantage l'identité des
            intervenants mis en jeu.
</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence minOccurs="1" maxOccurs="1">
         <xsd:element name="CdService" type="sa_int:CdService"
            nillable="false" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Code du service</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="NomService" type="sa_int:NomService"
            nillable="false" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="Libelle">
                  Nom du service</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:annotation>
      <xsd:documentation>-----------------Attributs-----------------
      </xsd:documentation>
   </xsd:annotation>
   <xsd:complexType name="CdContact" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Code du contact</xsd:documentation>
         <xsd:documentation source="Definition">Numéro d'ordre
            attribué à chaque contact pour un intervenant.

            Le numéro du contact relève de la responsabilité de l'organisme ayant
            saisi les informations, gestionnaire de la liste des
            contacts.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:IdentifierType">
            <xsd:maxLength value="3" fixed="false" />
            <xsd:attribute name="schemeID" use="optional"
               fixed="CNT">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:normalizedString" />
               </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyID" use="required">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:normalizedString" />
               </xsd:simpleType>
            </xsd:attribute>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NomContact" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Nom du contact</xsd:documentation>
         <xsd:documentation source="Definition">Nom de la personne
            agissant en tant que contact pour un intervenant et pour une
            fonction donnée.

            Le nom du contact relève de la responsabilité de l'organisme ayant
            saisi les informations, gestionnaire de la liste des
            contacts.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="35" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FonctionContact" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Fonction du contact</xsd:documentation>
         <xsd:documentation source="Definition">Rôle tenu par le
            contact pour l'intervenant dans ses relations avec ses
            partenaires.

            La liste des fonctions du contact relève de la responsabilité de
            l'organisme ayant saisi les informations, gestionnaire de la
            liste des contacts.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="25" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TelephoneContact" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Téléphone du contact</xsd:documentation>
         <xsd:documentation source="Definition">Numéro de téléphone
            complet du contact (avec code des pays pour l'international
            ou les DOM) exprimé dans le format d'origine.

            Le téléphone du contact relève de la responsabilité de l'organisme
            ayant saisi les informations, gestionnaire de la liste des
            contacts.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="25" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="FaxContact" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Fax du contact</xsd:documentation>
         <xsd:documentation source="Definition">Numéro de télécopie
            complet du contact (avec code des pays pour l'international
            ou les DOM) exprimé dans le format d'origine.

            Le fax du contact relève de la responsabilité de l'organisme ayant
            saisi les informations, gestionnaire de la liste des
            contacts.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="25" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CdIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Code de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Le code de
            l'intervenant est son identifiant au sein du système
            d'identifiant défini dans l'attribut 'Origine du code de
            l'intervenant'.

            Ce code est en priorité le code SIRET attribué par l'INSEE. Il s'agit
            d'un code qui identifie chaque établissement d'une
            entreprise par un numéro à quatorze chiffres composé, dans
            l'ordre :
            - des neufs chiffres du numéro SIREN de l'entreprise;
            - de cinq chiffres complémentaires propres à l'établissement
            identifié, également appelé NIC (Numéro Interne de
            Classement).

            Le dernier chiffre du numéro SIREN et du code SIRET sont une clé de
            contrôle.

            Ce numéro est rattaché au lieu d'exercice de l'activité. Il en résulte
            que le changement d'adresse du lieu d'activité entraîne un
            changement de numéro de l'établissement concerné, sans que
            soient modifiés les neufs premiers chiffres puisque
            l'entreprise est toujours la même.

            Un numéro SIRET supprimé n'est jamais réutilisé.

            Le numéro SIREN est le numéro unique d'identification des entreprises
            prévu par l'article de la loi du 11 février 1994. Il entre
            dans le composition du numéro d'immatriculation au registre
            du commerce et des sociétés (RCS) et du numéro d'opérateur
            du commerce intra communautaire. Ces derniers doivent
            figurer, en tant que de besoin, sur les papiers à en-tête.

            Lorsque l'entreprise est une personne morale (association,
            société, GIE, etc.) ce numéro est attaché à l'entreprise et
            reste identique tant que celle-ci existe, même si son
            activité change, si son siège social, sa raison sociale, le
            montant de son capital change ou si sa forme juridique est
            modifiée sans rupture de la personnalité. Le numéro est
            supprimé en cas de dissolution.

            Lorsque l'entreprise est une personne physique (entreprise individuelle,
            profession libérale, etc.), le numéro SIREN est rattaché à
            la personne physique qui conservera son numéro à vie, quelle
            que soit son activité.

            Le numéro SIREN supprimé n'est jamais réutilisé.

            Le code SIRET de l'intervenant est le dernier en date qui lui a été
            attribué (le dictionnaire de permet pas d'historiser les
            évolutions de ce code pour un intervenant).

            Le code SANDRE de l'intervenant supplée le code SIRET lorsque
            l'activité de l'intervenant ne peut être codifié dans la
            nomenclature INSEE.

            Il s'agit d'un numéro d'enregistrement attribué par le SANDRE. Le code
            est une valeur numérique entière comprise entre 0 et
            99.999.999.999.999.999.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:IdentifierType">
            <xsd:maxLength value="17" fixed="false" />
            <xsd:attribute name="schemeID" use="optional">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:normalizedString" />
               </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyID" use="required">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:normalizedString">
                     <xsd:enumeration value="SIRET" />
                     <xsd:enumeration value="SANDRE" />
                     <xsd:enumeration value="PACAGE" />
                     <xsd:enumeration value="NOM#PRENOM#DN" />
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:attribute>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NomIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Nom de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Le nom de
            l'intervenant est son appellation courante ou sa
            dénomination sociale intégrale. Les sigles sont à éviter au
            profit d'une rédaction complète.

            Cette information est fournie par le système d'identifiant défini par
            l'attribut 'Origine du code de l'intervenant'.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="115" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="StIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Statut de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Nomenclature :
            Statut de validation / PAR / 2002 - 2

            ----------------------------------------------------------------------
            Code ! Mnémonique ! Libellé
            ----------------------------------------------------------------------
            Gelé ! Gelé ! Gelé
            Proposition ! Proposition ! Proposition
            Provisoire ! Provisoire ! Provisoire
            Validé ! Validé ! Validé
            ----------------------------------------------------------------------


            Gelé :
            ------
            Une nomenclature ou un élément codifié d'une liste nationale SANDRE
            possède un statut GELE lorsqu'il a fait l'objet d'un travail
            de vérification de sa pertinence par un groupe d'experts du
            SANDRE, au regard des listes de références existantes. La
            conclusion de ce travail a mis en évidence une ou plusieurs
            erreurs pouvant être de nature variée (redondance
            d'informations, informations incomplètes, confusion) qui
            n'autorisent pas son usage au sein d'échanges de données.
            Une nomenclature ou une occurrence de listes nationales de
            statut gelé peut en outre évoluer à l'avenir vers un statut
            valide, toujours selon l'avis de groupes d'experts. Le
            statut GELE fait suite à un statut PROVISOIRE ou VALIDE.


            Proposition :
            -------------
            Une nomenclature ou un élément d'une liste nationale SANDRE possède un
            statut PROPOSITION lorsque celui-ci parvient à la cellule
            d'animation du SANDRE par l'intermédiaire d'une fiche de
            proposition envoyée par un partenaire d'échange qui souhaite
            le soumettre à une codification nationale. Une nomenclature
            ou un élément ayant un statut PROPOSITION n'a pas encore été
            vérifié par un groupe d'experts ni codifié par le SANDRE. Il
            ne DOIT pas faire l'objet d'échanges de données et ne DOIT
            pas posséder pas de code SANDRE.


            Provisoire :
            ------------
            Une nomenclature ou un élément d'une liste nationale SANDRE possède un
            statut PROVISOIRE lorsqu'il a fait l'objet d'une proposition
            par un partenaire d'échange ou un groupe d'experts avant
            d'être adressé à la cellule d'animation du SANDRE laquelle
            lui a attribué un code provisoire pour faliciter les
            échanges de données qui s'y raccordent. Une nomenclature ou
            un élément en statut PROVISOIRE est en attente de validation
            par un groupe d'experts lequel jugera de la pertinence de
            celui-ci, conformément aux règles d'usage des listes de
            référence SANDRE.
            Il PEUT dès lors faire l'objet d'échanges de données. Cependant, la
            reconnaissance de l'usage de ce code au sein d'échange de
            données ne revête pas un caractère officiel pour le SANDRE,
            ne garantissant pas la pertinence et la cohérence des
            données échangées qui s'y rapportent.


            Validé :
            --------
            Une nomenclature ou un élément codifié d'une liste nationale SANDRE
            possède un statut VALIDE lorsqu'il a été jugé pertinent et
            cohérent aux yeux d'un groupe d'experts, garantissant ainsi
            son caractère valide. La nomenclature ou l'occurrence de
            listes nationales est bien reconnu officiellement par le
            SANDRE et PEUT désormais faire l'objet d'échanges de
            données.

            Fin de la nomenclature</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="20" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DateCreationIntervenant"
      abstract="false" mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Date de création de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">La date de création
            de l'intervenant est une date exprimée au jour près, à
            laquelle un intervenant a été enregistré par le SANDRE, avec
            le statut de code provisoire, dans la liste nationale des
            intervenants (cf. statut de l'intervenant).

            Cet attribut est inutilisé en dehors de la liste SANDRE.

            L'affectation d'une date de création à un intervenant relève de la responsabilité
            du SANDRE.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:DateType" />
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DateMajIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Date de la dernière mise-à-jour de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">La date de la
            dernière mise-à-jour de l'intervenant est la date exprimée
            au jour près, de la dernière mise-à-jour validée des
            informations portées sur la fiche de description de
            l'intervenant.

            Cet attribut est inutilisé en dehors de la liste SANDRE.

            La liste des intervenants est administrée par le SANDRE qui en a la
            responsabilité.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:DateTimeType" />
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AuteurIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Auteur de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">L'auteur de
            l'intervenant est le premier organisme à avoir demandé au
            SANDRE l'enregistrement de l'intervenant.

            Cet attribut est inutilisé en dehors de la liste SANDRE.

            L'attribution d'un auteur à un intervenant relève de la responsabilité du SANDRE.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="50" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MnIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Mnémonique de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Le mnémonique de
            l'intervenant est un nom limité à 35 caractères pour une
            exploitation informatique. Si le nom ne peut être tronqué à
            35 caractères, l'appellation complète sera remplacée par des
            sigles ou par des mots tronqués se terminant par un point
            sur la base des règles énoncées par la norme Z01-011.

            Cet attribut est inutilisé en dehors de la liste SANDRE.

            Cette information est fournie par le ou les organismes qui font la
            demande, auprès du SANDRE, d'un numéro national pour un
            intervenant. La liste des intervenants est administrée par
            le SANDRE.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="35" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BpIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Boîte aux lettres / boite postale de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">La boîte aux
            lettres ou la boîte postale de l'intervenant est un
            complément d'information pour une adresse exacte de
            l'intervenant. Conforme à la norme AFNOR Z 10-011 d'août
            1989 (spécifications postales des objets de correspondance
            de petits formats) ainsi qu'à la nouvelle version de cette
            norme actuellement en cours de validation, cet attribut
            n'est pas géré par les systèmes d'identifiant mais relève de
            la responsabilité des producteurs et des utilisateurs de
            données.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="35" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ImmoIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Nom de l'ensemble immobilier où réside l'intervenant
         </xsd:documentation>
         <xsd:documentation source="Definition">Le nom de
            l'ensemble immobilier de l'intervenant est un complément
            d'information pour une adresse exacte de l'intervenant.
            Conforme à la norme AFNOR Z 10-011 d'août 1989
            (spécifications postales des objets de correspondance de
            petits formats) ainsi qu'à la nouvelle version de cette
            norme actuellement en cours de validation, cet attribut
            n'est pas géré par les systèmes d'identifiant mais relève de
            la responsabilité des producteurs et des utilisateurs de
            données.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="35" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RueIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Rue de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">La rue de
            l'intervenant est un complément d'information pour une
            adresse exacte de l'intervenant. Conforme à la norme AFNOR Z
            10-011 d'août 1989 (spécifications postales des objets de
            correspondance de petits formats) ainsi qu'à la nouvelle
            version de cette norme actuellement en cours de validation,
            cet attribut n'est pas géré par les systèmes d'identifiant
            mais relève de la responsabilité des producteurs et des
            utilisateurs de données.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="35" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LieuIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Lieu-dit où réside l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Le lieu-dit où
            réside l'intervenant est un complément d'information pour
            une adresse exacte de l'intervenant. Conforme à la norme
            AFNOR Z 10-011 d'août 1989 (spécifications postales des
            objets de correspondance de petits formats) ainsi qu'à la
            nouvelle version de cette norme actuellement en cours de
            validation, cet attribut n'est pas géré par les systèmes
            d'identifiant mais relève de la responsabilité des
            producteurs et des utilisateurs de données.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="35" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="VilleIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Ville de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Pour chaque
            intervenant, il est précisé la ville où il est localisé. Le
            nom de la ville qui est sur 35 caractères conformément à la
            norme AFNOR Z 10-011 d'août 1989 (spécifications postales
            des objets de correspondance de petits formats) ainsi qu'à
            la nouvelle version de cette norme actuellement en cours de
            validation, reprendra, dans la mesure du possible, le nom
            attribué par l'INSEE sur 45 caractères.

            Cet attribut est inutilisé en dehors de la liste SANDRE.

            Cette information est fournie par le ou les organismes qui font la
            demande, auprès du SANDRE, d'un numéro national pour un
            intervenant. La liste des intervenants est administrée par
            le SANDRE.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="35" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DepIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Département / pays de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Pour chaque
            intervenant, il est précisé le numéro de département ou le
            code alphanumérique du pays où il est localisé défini par la
            norme ISO 3166 de 1993 (NF 23 166 de mars 1994).

            Cet attribut est inutilisé en dehors de la liste SANDRE.

            Cette information est fournie par le ou les organismes qui font la
            demande, auprès du SANDRE, d'un numéro national pour un
            intervenant. La liste des intervenants est administrée par
            le SANDRE.
</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="50" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CommentairesIntervenant"
      abstract="false" mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Commentaires sur l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Les commentaires
            rassemblent des informations générales sur l'intervenant,
            comme ses anciennes appellations, qui ne sont pas
            formalisées dans la fiche sur l'intervenant.

            Cet attribut est inutilisé en dehors de la liste SANDRE.

            Cette information est fournie par le ou les organismes qui déposent une
            demande d'enregistrement d'un intervenant auprès du SANDRE,
            information qui peut être complétée par les mises-à-jour
            successives de la fiche descriptive de l'intervenant. La
            liste des intervenants est administrée par le SANDRE.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType" />
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ActivitesIntervenant"
      abstract="false" mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Domaine(s) d'activité de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Liste indicative et
            non exhautive des différentes compétences de l'intervenant.

            Quand l'intervenant possède plusieurs domaines d'activité,
            leur libellé sera séparé par une virgule.

            Cette information est fournie par le ou les organismes qui déposent une
            demande d'enregistrement d'un intervenant auprès du SANDRE
            dans le cas d'absence du code SIRET, information qui peut
            être complétée par les mises-à-jour successives de la fiche
            descriptive de l'intervenant. </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="250" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CPIntervenant" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Code postal de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Le code postal de
            l'intervenant identifie le bureau de Poste qui assure la
            distribution du courrier pour la commune ou la partie de
            commune dans laquelle est localisé l'intervenant. Conforme à
            la norme AFNOR Z 10-011 d'août 1989 (spécifications postales
            des objets de correspondance de petits formats) ainsi qu'à
            la nouvelle version de cette norme actuellement en cours de
            validation, cet attribut n'est pas utilisé par le SANDRE
            mais a été créé pour répondre aux besoins des producteurs et
            des utilisateurs de données.
</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="9" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NomInternationalIntervenant"
      abstract="false" mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Nom international de l'intervenant</xsd:documentation>
         <xsd:documentation source="Definition">Le nom
            international de l'intervenant est le libellé anglais de
            l'intervenant. Cette information est optionnelle et permet
            une utilisation de la liste des intervenants dans d'autres
            pays.

</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="115" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CdSIRETRattacheIntervenant"
      abstract="false" mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Code SIRET de l'organisme auquel est rattaché l'intervenant
         </xsd:documentation>
         <xsd:documentation source="Definition">Le code SIRET de
            l’organisme auquel est rattaché l’intervenant est un
            attribut optionnel permettant de préciser, lorsque
            l’intervenant n’est pas une structure identifiée dans le
            registre national de l’INSEE, le code SIRET de l’organisme
            auquel il est généralement rattaché.

            Par exemple, les SATESE (Service d’Assistance Technique aux Exploitants
            des Stations d’Epuration) sont générament rattachés au
            Conseil Général du département.

            Cette information relève de la responsabilité de l’auteur de la fiche
            SANDRE </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:length value="14" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CdService" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Code du service</xsd:documentation>
         <xsd:documentation source="Definition" />
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="20" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NomService" abstract="false"
      mixed="false">
      <xsd:annotation>
         <xsd:documentation source="Libelle">
            Nom du service</xsd:documentation>
         <xsd:documentation source="Definition">Nom donné à une
            unité ou une structure rattachée à un unique intervenant sur
            le plan de l'organisation du travail, et exerçant un
            ensemble de tâches spécifiques.
            La notion de service interne apparait dès lors qu'un intervenant
            définit explicitement son mode d'organisation ainsi que la
            répartition des moyens humains et matériels en plusierus
            unités distinctes.

            Cette information permet de préciser davantage l'identité des
            intervenants mis en jeu.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="115" fixed="false" />
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>