commons/commons-xml-jaxb-exemple-sandre/src/main/resources/META-INF/msg/1/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:cct="http://xml.sandre.eaufrance.fr/Composants/1" xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sa_msg="http://xml.sandre.eaufrance.fr/message/1" xmlns:sa_int="http://xml.sandre.eaufrance.fr/int/2"
   targetNamespace="http://xml.sandre.eaufrance.fr/message/1"
   elementFormDefault="unqualified" attributeFormDefault="unqualified"
   finalDefault="" blockDefault="">
   <xs:import namespace="http://xml.sandre.eaufrance.fr/int/2"
      schemaLocation="../../int/2/sandre_ref_int.xsd" />
   <xs:import namespace="http://xml.sandre.eaufrance.fr/Composants/1"
      schemaLocation="../../composantstypes.xsd" />
   <xs:import namespace="http://www.w3.org/1999/xlink"
      schemaLocation="../../xlinks.xsd" />
   <xs:annotation>
      <xs:documentation source="Code">INT</xs:documentation>
      <xs:documentation source="Id">urn:sandre:dictionnaire:sa_msg::1.0
      </xs:documentation>
      <xs:documentation source="Titre">Informations
         descriptives des messages de scenario d'échanges
      </xs:documentation>
      <xs:documentation source="Copyright">2009</xs:documentation>
      <xs:documentation source="Description" />
      <xs:documentation source="Contributeur" />
      <xs:documentation source="Version">1.0</xs:documentation>
      <xs:documentation source="Theme">Référentiels
      </xs:documentation>
      <xs:documentation source="Couverture">France
      </xs:documentation>
      <xs:documentation source="MotCle" />
      <xs:documentation source="Lang">fra</xs:documentation>
      <xs:documentation source="DateCreation">2009-01-01
      </xs:documentation>
      <xs:documentation source="DateMAJ">2009-01-01
      </xs:documentation>
      <xs:documentation source="DateValidation" />
      <xs:documentation source="Evolution" />
      <xs:documentation source="StatutDoc">Validé
      </xs:documentation>
   </xs:annotation>
   <xs:complexType name="Scenario" abstract="false"
      mixed="false">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="CodeScenario" type="sa_msg:CodeScenario"
            nillable="false" minOccurs="1" maxOccurs="1" />
         <xs:element name="VersionScenario" type="sa_msg:VersionScenario"
            nillable="false" minOccurs="1" maxOccurs="1" />
         <xs:element name="NomScenario" type="sa_msg:NomScenario"
            nillable="false" minOccurs="1" maxOccurs="1" />
         <xs:element name="DateCreationFichier" type="sa_msg:DateCreationFichier"
            nillable="false" minOccurs="0" maxOccurs="1" />
         <xs:element name="ReferenceFichierEnvoi" type="sa_msg:ReferenceFichierEnvoi"
            nillable="false" minOccurs="0" maxOccurs="1" />
         <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence minOccurs="1" maxOccurs="1">
               <xs:element name="DateDebutReference" type="sa_msg:DateDebutReference"
                  nillable="false" minOccurs="0" maxOccurs="1" />
               <xs:element name="DateFinReference" type="sa_msg:DateFinReference"
                  nillable="false" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
            <xs:sequence minOccurs="1" maxOccurs="1">
               <xs:element name="DateDebutDonneesTransmises"
                  type="sa_msg:DateDebutDonneesTransmises" nillable="false"
                  minOccurs="0" maxOccurs="1" />
               <xs:element name="DateFinDonneesTransmises"
                  type="sa_msg:DateFinDonneesTransmises" nillable="false"
                  minOccurs="0" maxOccurs="1" />
            </xs:sequence>
         </xs:choice>
         <xs:element name="Emetteur" nillable="false"
            minOccurs="0" maxOccurs="1">
            <xs:complexType mixed="false">
               <xs:sequence minOccurs="1" maxOccurs="1">
                  <xs:element name="CdIntervenant" type="sa_int:CdIntervenant"
                     nillable="false" minOccurs="1" maxOccurs="1" />
                  <xs:element name="NomIntervenant" type="sa_int:NomIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="MnIntervenant" type="sa_int:MnIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="BpIntervenant" type="sa_int:BpIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="ImmoIntervenant" type="sa_int:ImmoIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="RueIntervenant" type="sa_int:RueIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="LieuIntervenant" type="sa_int:LieuIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="VilleIntervenant" type="sa_int:VilleIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="DepIntervenant" type="sa_int:DepIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="CommentairesIntervenant"
                     type="sa_int:CommentairesIntervenant" nillable="false"
                     minOccurs="0" maxOccurs="1" />
                  <xs:element name="Service" nillable="false"
                     minOccurs="0" maxOccurs="1">
                     <xs:complexType mixed="false">
                        <xs:sequence minOccurs="1"
                           maxOccurs="1">
                           <xs:element name="NomService"
                              type="sa_int:NomService" nillable="false"
                              minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Contact" nillable="false"
                     minOccurs="0" maxOccurs="1">
                     <xs:complexType mixed="false">
                        <xs:sequence minOccurs="1"
                           maxOccurs="1">
                           <xs:element name="NomContact"
                              type="sa_int:NomContact" nillable="false"
                              minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Destinataire" nillable="false"
            minOccurs="0" maxOccurs="1">
            <xs:complexType mixed="false">
               <xs:sequence minOccurs="1" maxOccurs="1">
                  <xs:element name="CdIntervenant" type="sa_int:CdIntervenant"
                     nillable="false" minOccurs="1" maxOccurs="1" />
                  <xs:element name="NomIntervenant" type="sa_int:NomIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="MnIntervenant" type="sa_int:MnIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="BpIntervenant" type="sa_int:BpIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="ImmoIntervenant" type="sa_int:ImmoIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="RueIntervenant" type="sa_int:RueIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="LieuIntervenant" type="sa_int:LieuIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="VilleIntervenant" type="sa_int:VilleIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="DepIntervenant" type="sa_int:DepIntervenant"
                     nillable="false" minOccurs="0" maxOccurs="1" />
                  <xs:element name="CommentairesIntervenant"
                     type="sa_int:CommentairesIntervenant" nillable="false"
                     minOccurs="0" maxOccurs="1" />
                  <xs:element name="Service" nillable="false"
                     minOccurs="0" maxOccurs="1">
                     <xs:complexType mixed="false">
                        <xs:sequence minOccurs="1"
                           maxOccurs="1">
                           <xs:element name="NomService"
                              type="sa_int:NomService" nillable="false"
                              minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Contact" nillable="false"
                     minOccurs="0" maxOccurs="1">
                     <xs:complexType mixed="false">
                        <xs:sequence minOccurs="1"
                           maxOccurs="1">
                           <xs:element name="NomContact"
                              type="sa_int:NomContact" nillable="false"
                              minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Referentiel" type="sa_msg:Referentiel"
            nillable="false" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CodeScenario" abstract="false"
      id="DEB.2.2002-1" mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:IdentifierType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="VersionScenario" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:IdentifierType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="NomScenario" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:TextType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="DateCreationFichier" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:DateType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ReferenceFichier" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:TextType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ReferenceFichierEnvoi" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:TextType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="DateDebutReference" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:DateType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="DateFinReference" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:DateType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="DateDebutDonneesTransmises"
      abstract="false" mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:DateTimeType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="DateFinDonneesTransmises"
      abstract="false" mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:DateTimeType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="AccuseReception" abstract="false"
      mixed="false">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="Acceptation" type="sa_msg:Acceptation"
            nillable="false" minOccurs="1" maxOccurs="1" />
         <xs:element name="CodeScenario" type="sa_msg:CodeScenario"
            nillable="false" minOccurs="1" maxOccurs="1" />
         <xs:element name="VersionScenario" type="sa_msg:VersionScenario"
            nillable="false" minOccurs="1" maxOccurs="1" />
         <xs:element name="NomScenario" type="sa_msg:NomScenario"
            nillable="false" minOccurs="1" maxOccurs="1" />
         <xs:element name="DateCreationFichier" type="sa_msg:DateCreationFichier"
            nillable="false" minOccurs="0" maxOccurs="1" />
         <xs:element name="ReferenceFichierEnvoi" type="sa_msg:ReferenceFichierEnvoi"
            nillable="false" minOccurs="0" maxOccurs="1" />
         <xs:choice minOccurs="0" maxOccurs="1">
            <xs:sequence minOccurs="1" maxOccurs="1">
               <xs:element name="DateDebutReference" type="sa_msg:DateDebutReference"
                  nillable="false" minOccurs="0" maxOccurs="1" />
               <xs:element name="DateFinReference" type="sa_msg:DateFinReference"
                  nillable="false" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
            <xs:sequence minOccurs="1" maxOccurs="1">
               <xs:element name="DateDebutDonneesTransmises"
                  type="sa_msg:DateDebutDonneesTransmises" nillable="false"
                  minOccurs="0" maxOccurs="1" />
               <xs:element name="DateFinDonneesTransmises"
                  type="sa_msg:DateFinDonneesTransmises" nillable="false"
                  minOccurs="0" maxOccurs="1" />
            </xs:sequence>
         </xs:choice>
         <xs:element name="Erreur" type="sa_msg:Erreur"
            nillable="false" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Acceptation" abstract="false"
      id="ACK.2.2002-1" mixed="false">
      <xs:simpleContent>
         <xs:restriction base="cct:CodeType">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="Erreur" abstract="false" mixed="false">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="CdErreur" type="sa_msg:CdErreur"
            nillable="false" minOccurs="1" maxOccurs="1" />
         <xs:element name="LocationErreur" type="sa_msg:LocationErreur"
            nillable="false" minOccurs="0" maxOccurs="1" />
         <xs:element name="DescriptifErreur" type="sa_msg:DescriptifErreur"
            nillable="false" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="SeveriteErreur" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Warning" />
               <xs:enumeration value="Error" />
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="CdErreur" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:CodeType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="DescriptifErreur" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:TextType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="LocationErreur" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:TextType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="Referentiel" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="xs:token">
            <xs:attribute name="schemeID" type="xs:normalizedString"
               use="required" />
            <xs:attribute name="schemeAgencyID" type="xs:normalizedString"
               use="optional" />
            <xs:attribute ref="xlink:href" use="optional" />
            <xs:attribute name="version" type="xs:string"
               use="required" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="CdContexte" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:CodeType" />
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="LbContexte" abstract="false"
      mixed="false">
      <xs:simpleContent>
         <xs:extension base="cct:IdentifierType" />
      </xs:simpleContent>
   </xs:complexType>
</xs:schema>