sae/sae-webservices/src/test/resources/SaeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.cirtil.fr/saeService"
   xmlns:impl="http://www.cirtil.fr/saeService" xmlns:apachesoap="http://xml.apache.org/xml-soap"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://www.cirtil.fr/saeService">
  
   <wsdl:types>
      <schema elementFormDefault="qualified"
         targetNamespace="http://www.cirtil.fr/saeService" xmlns="http://www.w3.org/2001/XMLSchema">

         <element name="PingRequest">
            <complexType />

         </element>
         <element name="PingResponse">
           <complexType>
               <sequence>
                  <element name="pingString" type="xsd:string" />
               </sequence>
            </complexType>
         </element>

      </schema>
   </wsdl:types>
   
   <wsdl:message name="PingResponseMessage">
      <wsdl:part name="output" element="impl:PingResponse">
      </wsdl:part>
   </wsdl:message>
   
   <wsdl:message name="PingRequestMessage">
      <wsdl:part name="input" element="impl:PingRequest">
      </wsdl:part>
   </wsdl:message>
  
   <wsdl:portType name="SaeServicePortType">
     
     
      <wsdl:operation name="Ping" parameterOrder="input">
         <wsdl:input name="PingRequestMessage"
            message="impl:PingRequestMessage">
         </wsdl:input>
         <wsdl:output name="PingResponseMessage"
            message="impl:PingResponseMessage">
         </wsdl:output>
      </wsdl:operation>
      
   </wsdl:portType>
   <wsdl:binding name="SaeServiceSoapBinding" type="impl:SaeServicePortType">
      <wsdlsoap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      
      <wsdl:operation name="Ping">
         <wsdlsoap:operation soapAction="Ping" />
         <wsdl:input>
            <wsdlsoap:body use="literal" />

         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
     
   </wsdl:binding>
   <wsdl:service name="SaeService">
      <wsdl:port name="SaeService" binding="impl:SaeServiceSoapBinding">
         <wsdlsoap:address
            location="http://localhost:8080/axis2/services/SaeService/" />

      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
